<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>EUS practice survey in Latin America</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel='stylesheet' id='main-css-css'  href='[[URL]]css/style.css' type='text/css' media='all' />
</head>
<body>
	<div id="background">
		<div id="wrapper">
			
			<div id="content">
				<div id="main">
					<h2>EUS practice survey in Latin America</h2>					
					<p>Dear colleagues,</p>					
					<p>EUS practice has been growing in the last few years; however the real status of EUS in Latin America is unknown. In view of this gap, we have designed this questionnaire with the aim of gathering information from all doctors that perform EUS in various countries in Latin America. </p>					
					<p>We count on your valuable contribution as you respond to this questionnaire.<br />
					<strong>This questionnaire will take approximately 8 minutes of your time.</strong></p>
					<p><strong>NOTE: To keep all your information and answers strictly confidential, firstly, you need to register via the link below, as this will allow you to receive a password to the questionnaire in your e-mail.</strong> <a href="[[SIGNUP]]&lang=en_US">Click here to register.</a></p>
					<p>Please respond this questionnaire only if you perform EUS.</p>
					<p>Thank you.</p>
					<ul class="main_menu menu_index">
						<li id="welcome-signup">If you are not registered yet,  <a href="[[SIGNUP]]&lang=en_US">sign up</a></li>						
					</ul>
					<div class="clear"></div>
					<p><strong>Board of CLEUS 2010-2012 </strong>
					<br />Cecilia Castillo (Chile)
					<br />José Ricardo Ruíz Obaldía (Panama)
					<br />Lucio G. B. Rossini (Brazil)
					<br />Wallia Wever (Venezuela)</p>
					<p><strong>Survey assistants</strong>
					<br />Juliana Marques Drigo (Brazil)
					<br />Sheila Fillipi (Brazil)</p>
					<div class="clear"></div>
					<br>
					<p>At first, this questionnaire was sent to all doctors who joined CLEUS/SIED (EUS Latin American Chapter - <strong><a href="http://www.cleus.org" target="_blank">www.cleus.org</a></strong> / Inter-American Society of Digestive Endoscopy - <strong><a href="http://www.e-sied.org" target="_blank">www.e-sied.org</a></strong>). If you are not a member of CLEUS and you received this questionnaire, a colleague recommended you.</p>
					<p><strong>We ask for your support to encourage your colleagues who perform EUS and are not yet members of CLEUS to fill out this survey. Send this e-mail to a colleague if you want your colleague to participate in this survey.</strong></p>
					<p><strong>Should you have any doubts or comments, do not hesitate to contact us: <br/><a href="mailto:cleus.encuesta@gmail.com" target="_blank">cleus.encuesta@gmail.com</a></strong></p>
					<div class="clear"></div>
				</div>
			</div>
			<!-- end #content -->
			<div class="clear"></div>
			<div id="footer">
				<a class="logo-trajettoria" href="http://www.trajettoria.com" target="_blank">Trajettoria</a>
				<img src="[[URL]]email/email_image.php?key=[[KEY]]" alt="" />
			</div>
			<!-- end #footer -->
		</div>
		<!-- end #wrapper -->
	</div>
	<!-- end #background -->
</body>
</html>