<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Trabajo de investigación sobre la práctica de Ultrasonido Endoscópico (EUS) en América Latina</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel='stylesheet' id='main-css-css'  href='[[URL]]css/style.css' type='text/css' media='all' />
</head>
<body>
	<div id="background">
		<div id="wrapper">
			
			<div id="content">
				<div id="main">
					<h2>Trabajo de investigación sobre la práctica de Ultrasonido Endoscópico (EUS) en América Latina</h2>					
					<p>Estimados colegas,</p>					
					<p>La práctica de trabajo de investigación (EUS) viene creciendo en los últimos años, pero su real status en América Latina es desconocido. De ahí que elaboramos un  cuestionario con el objetivo de obtener informaciones de todos los médicos que realizan EUS en los diferentes  países de América Latina.</p>					
					<p>Agradecemos  su valiosa contribuición al responder este cuestionario.<br />
					<strong>No le llevará más de 8 minutos de su tiempo.</strong></p>
					<p><strong>ATENCIÓN : Para mantener todas sus informaciones y respuestas estrictamente confidenciales, inicialmente usted debe hacer una inscripción rápida que le permitirá recibir en su e.mail una seña de  acceso al cuestionario.</strong> <a href="[[SIGNUP]]&lang=es_ES">Haga clic aquí para registrarse.</a></p>
					<p>Por favor, responda o questionário apenas se você realiza EUS.</p>
					<p>Obrigado.</p>
					<ul class="main_menu menu_index">
						<li id="welcome-signup">Si no se ha registrado, <a href="[[SIGNUP]]&lang=es_ES">regístrese</a></li>						
					</ul>
					<div class="clear"></div>
					<p><strong>Directiva del CLEUS 2010-2012 </strong>
					<br />Cecilia Castillo (Chile)
					<br />José Ricardo Ruíz Obaldía (Panama)
					<br />Lucio G. B. Rossini (Brazil)
					<br />Wallia Wever (Venezuela)</p>
					<p><strong>Colaboradores del  trabajo de Investigación</strong>
					<br />Juliana Marques Drigo (Brazil)
					<br />Sheila Fillipi (Brazil)</p>
					<div class="clear"></div>
					<br>
					<p>Inicialmente este cuestionario ha sido enviado a todos los médicos que llegaron a convertirse en amigos de CLEUS/SIED (Capítulo Latinoamericano de Ultrasonido Endoscópico - <strong><a href="http://www.cleus.org" target="_blank">www.cleus.org</a></strong> / Sociedad Interamericana de Endoscopia Digestiva - <strong><a href="http://www.e-sied.org" target="_blank">www.e-sied.org</a></strong>). Si usted todavia no es amigo del CLEUS, algún colega ha debido indicar su nombre y por este motivo usted está recibiendo este cuestionario.</p>
					<p><strong>Solicitamos su apoyo incentivando a  sus colegas que realizan EUS y que todavía   no son amigos del CLEUS a rellenar este cuestionario. Envie este e-mail a su colega para que él  pueda participar del estudio.</strong></p>
					<p><strong>Si usted tiene alguna duda, por favor, háganoslo saber inmediatamente: <br/><a href="mailto:cleus.encuesta@gmail.com" target="_blank">cleus.encuesta@gmail.com</a></strong></p>
					<div class="clear"></div>
				</div>
			</div>
			<!-- end #content -->
			<div class="clear"></div>
			<div id="footer">
				<a class="logo-trajettoria" href="http://www.trajettoria.com" target="_blank">Trajettoria</a>
				<img src="[[URL]]email/email_image.php?key=[[KEY]]" alt="" />
			</div>
			<!-- end #footer -->
		</div>
		<!-- end #wrapper -->
	</div>
	<!-- end #background -->
</body>
</html>