<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Pesquisa sobre a prática da Ecoendoscopia (EUS) na América Latina</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel='stylesheet' id='main-css-css'  href='[[URL]]css/style.css' type='text/css' media='all' />
</head>
<body>
	<div id="background">
		<div id="wrapper">
			
			<div id="content">
				<div id="main">
					<h2>Pesquisa sobre a prática da Ecoendoscopia (EUS) na América Latina</h2>					
					<p>Caros colegas,</p>					
					<p>A prática da ecoendoscopia (EUS) vem crescendo nos últimos anos, mas o seu real status na América Latina é desconhecido. Pensando nesta lacuna, elaboramos um questionário com o objetivo de coletar informações de todos os médicos que realizam ecoendoscopia nos diversos países da América Latina. </p>					
					<p>Contamos com a sua valiosa contribuição respondendo este questionário.<br />
					<strong>Ele não tomará mais do que 8 minutos do seu tempo.</strong></p>
					<p><strong>ATENÇÃO: Para manter todas as suas informações e respostas estritamente confidenciais, inicialmente você precisará fazer um cadastro rápido que lhe permitirá receber no seu e-mail uma senha para acesso ao questionário.</strong> <a href="[[SIGNUP]]&lang=pt_BR">Clique aqui para se cadastrar.</a></p>
					<p>Por favor, responda o questionário apenas se você realiza EUS.</p>
					<p>Obrigado.</p>
					<ul class="main_menu menu_index">
						<li id="welcome-signup">Se ainda não possui cadastro, <a href="[[SIGNUP]]&lang=pt_BR">cadastre-se</a></li>						
					</ul>
					<div class="clear"></div>
					<p><strong>Diretoria do CLEUS 2010-2012</strong>
					<br />Cecilia Castillo (Chile)
					<br />José Ricardo Ruíz Obaldía (Panamá)
					<br />Lucio G. B. Rossini (Brasil)
					<br />Wallia Wever (Venezuela)</p>
					<p><strong>Colaboradores da pesquisa</strong>
					<br />Juliana Marques Drigo (Brasil)
					<br />Sheila Fillipi (Brasil)</p>
					<div class="clear"></div>
					<br>
					<p>Inicialmente este questionário foi enviado a todos os médicos que se tornaram amigos do CLEUS/SIED (Capítulo Latinoamericano de Ecoendoscopia - <strong><a href="http://www.cleus.org" target="_blank">www.cleus.org</a></strong> / Sociedade Interamericana de Endoscopia Digestiva - <strong><a href="http://www.e-sied.org" target="_blank">www.e-sied.org</a></strong>). Se você ainda não é amigo do CLEUS, algum colega o indicou e por este motivo você está recebendo este questionário.</p>
					<p><strong>Solicitamos seu apoio incentivando os seus colegas que realizam EUS e ainda não são amigos do CLEUS a preencher este questionário. Divulgue aos seus colegas nosso endereço!</strong></p>
					<p><strong>Se você tem alguma dúvida, por favor, não hesite em nos comunicar: <br/><a href="mailto:cleus.encuesta@gmail.com" target="_blank">cleus.encuesta@gmail.com</a></strong></p>
					<div class="clear"></div>
				</div>
			</div>
			<!-- end #content -->
			<div class="clear"></div>
			<div id="footer">
				<a class="logo-trajettoria" href="http://www.trajettoria.com" target="_blank">Trajettoria</a>
				<img src="[[URL]]email/email_image.php?key=[[KEY]]" alt="" />
			</div>
			<!-- end #footer -->
		</div>
		<!-- end #wrapper -->
	</div>
	<!-- end #background -->
</body>
</html>